<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>posts</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Posterous">
	<!-- Date: 2010-06-10 -->
</head>
<body>

<% @limit.times do |num| %>

  <div class="post" id="<%= num  + (@page*@limit)-1 %>">
    
    <p class="title">Post <%= num + (@page*@limit)-1 %></p>
    
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <span class="author">Someone Awesome (06/11/2010)</span>
    
  </div>
  
<% end %>

<% if @page < @total_pages %>
  <a class="next" href="/posts?page=<%= @page.next %>">next</a>
<% end %>

</body>
</html>
